.input-list {
    text-align: center;
}

.input-todo-list {
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn-add {
    width: 100px;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: lavender;
}